@inject HttpClient Http

@page "/billet/{TravelId}"
<h3>Billet</h3>

@myTravel.From - @myTravel.To

<input type="text" @bind="myUser.FirstName" placeholder="First Name"/>
<input type="text" @bind="myUser.LastName" placeholder="Last Name"/>

<button @onclick="SubmitBillet">
    Submit
</button>


@code {

    [Parameter]
    public int TravelId { get; set; }

    public AirTech.Shared.Travel myTravel { get; set; }

    public AirTech.Shared.User myUser { get; set; }

    protected override async Task OnInitializedAsync()
    {
        myTravel = await Http.GetFromJsonAsync<AirTech.Shared.Travel>($"Travel/{TravelId}");
    }

    public async Task SubmitBillet()
    {
        await Http.PostAsJsonAsync<AirTech.Shared.Billet>("Billet", new AirTech.Shared.Billet() { IdBilletNavigation = myTravel, IdUserNavigation = myUser });
    }
}
}
