@inject HttpClient Http

@page "/billet/{TravelId}"
<h3>Billet</h3>

@myTravel.From - @myTravel.To

<input type="text" @bind="myVoyager.FirstName" placeholder="First Name"/>
<input type="text" @bind="myVoyager.LastName" placeholder="Last Name"/>

<button @onclick="SubmitBillet">
    Submit
</button>


@code {

    [Parameter]
    public string TravelId { get; set; }

    public AirTech.Shared.Travel myTravel { get; set; } = new AirTech.Shared.Travel();

    public AirTech.Shared.Voyager myVoyager { get; set; } = new AirTech.Shared.Voyager();

    protected override async Task OnInitializedAsync()
    {
        myTravel = await Http.GetFromJsonAsync<AirTech.Shared.Travel>($"Travel/{int.Parse(TravelId)}");
    }

    public async Task SubmitBillet()
    {
        await Http.PostAsJsonAsync<AirTech.Shared.Billet>("Billet", new AirTech.Shared.Billet() { IdTravelNavigation = myTravel, Voyager = myVoyager });
    }
}

