@inject HttpClient Http

@page "/"

<h1>Hello, world!</h1>

Welcome to your new app.

<TravelList Travels="@Travels" />

@code{

    private List<AirTech.Shared.Travel> Travels { get; set; } = new List<AirTech.Shared.Travel>();

    protected override async Task OnInitializedAsync()
    {
        Travels = await Http.GetFromJsonAsync<List<AirTech.Shared.Travel>>("Travel");

        if(Travels == null)
        {
            Travels = new List<AirTech.Shared.Travel>();
        }
    }
}