@inject HttpClient Http
@inject NavigationManager Nav

@page "/order"
@page "/order/{OrderId}"
<h3>Order</h3>

<table class="table table-hover">
    <thead>
        <tr>
            <td scope="col">From</td>
            <td scope="col">To</td>
            <td scope="col">Date</td>
            <td scope="col">Unit price</td>
            <td scope="col">Traveler's Lastname</td>
            <td scope="col">Traveler's Firstname </td>
        </tr>
    </thead>
    <tbody>
        @foreach (var billet in MyOrder.Billet)
        {
        <tr>
            <td scope="row">@billet.IdTravelNavigation.From</td>
            <td>@billet.IdTravelNavigation.To</td>
            <td>@billet.Date</td>
            <td>@billet.UnitPrice €</td>
            <td><input type="text" @bind="billet.Voyager.LastName" placeholder="Last Name" /></td>
            <td><input type="text" @bind="billet.Voyager.FirstName" placeholder="First Name" /></td>
        </tr>
        }

    </tbody>
</table>
<form>
    <label>Number of Luggage ?</label>
    <input type="number" min="0" max="3" @bind="MyOrder.Luggage" />
    <br />
    <div class="form-check">
        <input type="checkbox" class="form-check-input" @bind="MyOrder.CarLocation" />
        <label class="form-check-label">Do you want a car when you arrive ?</label>
        <br />
    </div>
</form>

<button class="btn btn-primary" @onclick="Submit">
    Submit
</button>


@code {

    [Parameter]
    public string OrderId { get; set; } = string.Empty;

    public AirTech.Shared.Order MyOrder { get; set; } = new AirTech.Shared.Order();

    protected override async Task OnInitializedAsync()
    {
        MyOrder = await Http.GetFromJsonAsync<AirTech.Shared.Order>($"Order/{int.Parse(OrderId)}");
        foreach (var billet in MyOrder.Billet)
        {
            billet.Voyager = new AirTech.Shared.Voyager();
        }
        Console.WriteLine(MyOrder.Billet.Count);
    }

    private async Task Submit()
    {
        var response = await Http.PutAsJsonAsync<AirTech.Shared.Order>($"Order/{MyOrder.Id}", MyOrder);
        Nav.NavigateTo($"/final/{MyOrder.Id}");
    }
}

