@inject HttpClient Http

@page "/travel"
<h3>Travel</h3>

<input type="text" @bind="MyTravel.From" placeholder="From" />
<input type="text" @bind="MyTravel.To" placeholder="To" />
<input type="datetime" @bind="MyTravel.Date" placeholder="Date" />
<input type="number" @bind="MyTravel.Count" placeholder="Count" />
<input type="text" @bind="MyTravel.Price" placeholder="Price" />

<button @onclick="SubmitTravel">
    Submit
</button>


@code {

    public AirTech.Shared.Travel MyTravel { get; set; }

    public async Task SubmitTravel()
    {
        await Http.PostAsJsonAsync<AirTech.Shared.Travel>("Travel", MyTravel);
    }
}
}
