{
  "Logging": {
    "LogLevel": {
      "Default": "Information",
      "Microsoft": "Warning",
      "Microsoft.Hosting.Lifetime": "Information"
    }
  },
  "Sql_coString": "{put your SQL connection string here}",
  "AllowedHosts": "*"
}
